{% extends 'base.html' %}
{% block title%} create answer{% endblock%}
{% block header%}
<div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-semibold">QuestHub</a>
    <nav>
        <ul class="space-x-4">
            <li><a href="{% url 'quest:main' id=id name=name%}" class="text-white hover:underline">Inicio</a></li>
            <li><a href="{% url 'quest:about' user_id=id %}" class="text-white hover:underline">Acerca de</a></li>
            <li><a href="{% url 'quest:contact' user_id=id %}" class="text-white hover:underline">Contacto</a></li>
        </ul>
    </nav>
</div> 
{% endblock%}
{% block content%}
<div class="border p-4 rounded-lg">
    <h3 class="text-gray-700 w-auto">Titulo: {{question.title}}</h3>
    <p class="text-gray-700">Pregunta: {{question.question}}</p>
</div>
<form action="{% url 'quest:saveanswer' pk_question=question.id pk_user=id %}" method="post">
    {% csrf_token %}
    <div>
        <textarea name="answer" id="answer" cols="70" rows="8" placeholder="Escribe tu respuesta..." required></textarea>
    </div>
    <div>
        <button type="submit" class="w-auto bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none">Enviar</button>
    </div>    
</form>
{% endblock%}