{% extends 'base.html' %}

{% block title %}New Question{% endblock %}
{% block header%} 
<div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-semibold">QuestHub</a>
    <nav>
        <ul class="space-x-4">
            <li><a href="{% url 'quest:main' %}" class="text-white hover:underline">Inicio</a></li>
            <li><a href="#" class="text-white hover:underline">Acerca de</a></li>
            <li><a href="#" class="text-white hover:underline">Contacto</a></li>
        </ul>
    </nav>
</div>
{% endblock%}
{% block content %}
<div class="bg-white p-4 rounded shadow-md">
    <h2 class="text-2xl font-semibold mb-4">Crear Pregunta</h2>

    <!-- Formulario de Creación de Pregunta -->
    <form method="post" action="{% url 'quest:processingquestion' pk=user_id %}" class="space-y-4">
        {% csrf_token %}
        
        <!-- Título de la Pregunta -->
        <div>
            <label for="title" class="block text-gray-600 text-sm font-medium mb-2">Título</label>
            <input type="text" id="title" name="title" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-400" required>
        </div>
        
        <!-- Pregunta -->
        <div>
            <label for="question" class="block text-gray-600 text-sm font-medium mb-2">Pregunta</label>
            <textarea id="question" name="question" rows="4" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-400" required></textarea>
        </div>
        
        <!-- Tipo de Pregunta (Selección de Categoría) -->
        <div>
            <label for="category" class="block text-gray-600 text-sm font-medium mb-2">Tipo de Pregunta</label>
            <select id="category" name="category" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-400" required>
                
                {% for category in categories %}
                <option value="{{category.id}}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
        
        <!-- Botón de Envío -->
        <div>
            <button type="submit" class="w-auto bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none">Crear Pregunta</button>
        </div>
    </form>
</div>
{% endblock %} 