{% extends 'base.html' %}
{% block title %}Pubs{% endblock%}
{% block header%} 
<div class="container mx-auto flex justify-between items-center">
    <p class="text-white text-2xl font-semibold">QuestHub</p>
    <nav class="flex">
        <ul class="space-x-4">
            <li><a href="{% url 'quest:main' id=id name=user %}" class="text-white hover:underline">Inicio</a></li>
            <li><a href="{% url 'quest:about' user_id=id %}" class="text-white hover:underline">Acerca de</a></li>
            <li><a href="{% url 'quest:contact' user_id=id %}" class="text-white hover:underline">Contacto</a></li>
        </ul>
    </nav>
</div>
{% endblock%}
{% block content %}
<div class="bg-white p-4 rounded shadow-md">
    <h2 class="text-2xl font-semibold mb-4">Preguntas Recientes</h2>
    <!-- Lista de preguntas -->
    <ul class="space-y-4">
        <!-- Pregunta 1 -->
        {% for question in questions %}
        <li class="border p-4 rounded-lg">
            <h3 class="text-xl font-semibold">{{question.title}}</h3>
            <p class="text-gray-700">{{question.question}}</p>
            <div class="mt-2 flex-1 items-center">{% if question.count_answers%}
                <a href="{% url 'quest:answer' id_question=question.id pk_user=id  %}" class="text-blue-500 hover:underline">Ver {{question.count_answers}} respuestas</a> 
                {% else %} <p >Sin respuestas</p> 
                <a href="{% url 'quest:answer' id_question=question.id pk_user=id  %}" class="text-blue-500 hover:underline">Responder</a>
                {% endif %}
                <a href="{% url 'quest:votequestion' pk_question=question.id pk_user=id %}" class="ml-2 text-gray-600 hover:text-blue-500" >
                    Votar {% if question.count_votes%}<span class="text-sm">({{question.count_votes}})</span> {% else %} <span class="text-sm">(0)</span> {% endif %}
                </a>
            </div>
        </li>
        {% endfor %}
        {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            {% endfor %}
            </div>
        {% endif %}
    <!-- Botón para publicar una nueva pregunta -->
    <div class="mt-8">
        <a href="{% url 'quest:createquestion' id %}" class="text-blue-500 hover:underline">Publicar una nueva pregunta</a>
    </div>
    <div>    
    </div>
</div>
{% endblock %}
    